name: Lint

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    name: Checkstyle
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'corretto'
          cache: maven

      - name: Run Checkstyle
        run: mvn --batch-mode checkstyle:check

      - name: Generate Checkstyle report
        if: failure()
        run: mvn --batch-mode checkstyle:checkstyle

      - name: Upload Checkstyle report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: checkstyle-report
          path: target/site/checkstyle.html
          retention-days: 7
